.sobre__titulo {
  color: #8d0606; /*para obtermos a cor vermelha/vinho*/
  font-family: Pacifico, cursive; /*usarmos a fonte importada da API do Google ou qualquer fonte cursiva caso a importação não seja feita corretamente*/

}

@media screen and (min-width: 0) {
  .sobre__titulo {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .sobre__titulo {
    font-size: 3.1875rem;
  }
}

